In [8]:
codex_tags = {
}

from codex_widget_factory import utils
results_json=[]

In [1]:
##

In [9]:

step1 = """

import plotly.express as px
import pandas as pd
import json
from io import StringIO
import plotly.io as io


def getLogger():
    import logging
    logging.basicConfig(filename="UIACLogger.log",
                        format='%(asctime)s %(message)s',
                        filemode='a')
    logger = logging.getLogger()
    logger.setLevel(logging.DEBUG)
    return logger


logger = getLogger()


def file_read(blob_name):
    #reading the file from azure blob storage container
    logger.info(f"Read dataset file: {blob_name}")
    try:
        from azure.storage.blob import BlockBlobService
        sas_token = '?sv=2021-04-10&st=2022-12-22T08%3A12%3A47Z&se=2023-12-30T08%3A12%3A00Z&sr=c&sp=racwl&sig=fMeYkXsCvwK%2F0qVrCmj2j3NiMricQjOPWOkAEXekIPA%3D'
        account_name = 'willbedeletedsoon'
        container_name = 'codx-pede-s02'
        def read_data_from_blob(sas_token, account_name, container_name, blob_name):
            block_blob_service = BlockBlobService(account_name=account_name, sas_token= sas_token)
            from_blob = block_blob_service.get_blob_to_text(container_name = container_name, blob_name=blob_name)
            return pd.read_csv(StringIO(from_blob.content))
        input_df=read_data_from_blob(sas_token, account_name, container_name, blob_name)
        #filtering out empty columns
        input_df = input_df[input_df.x2.notnull()]
        input_df = input_df[input_df.x23.notnull()]
        input_df = input_df[input_df.x33.notnull()]
        input_df = input_df[input_df.x54.notnull()]
        data_good = input_df[input_df["data_quality"] == 1]
        
        return(input_df)
    except Exception as error_msg:
        logger.info(f"Exception occured while reading the dataset: {blob_name}"
                    f"Error Info is  {error_msg}")


def get_graph(dframe, filters):
    logger.info(
        "Preparing bar graph json to understand basic_expenditure across all countries")
    column_names = ['x48', 'x38', 'x37', 'x36', 'x33', 'x8', 'x29']
    #print(dframe['country'])
    data_good = dframe[dframe["data_quality"] == 1]
    data_good['basic_expenditure']= data_good[column_names].sum(axis=1)
    for item in filters:
        if 'All' in filters[item]:
            continue
        elif isinstance(filters[item], list):
            data_good = data_good[data_good[item].isin(filters[item])]
        else:
            data_good = data_good[data_good[item] == filters[item]]
    fig = px.bar(data_good, x='x48', y='country', color='basic_expenditure')
    #fig.show()
    logger.info(
        "Successfully prepared bar graph json to understand basic_expenditure across all countries")
    return io.to_json(fig)


selected_filters = {"country": ['India','China','Russia']}
dframe = file_read("cost-of-living_v2_I0869.csv")
#dframe = dframe.groupby(['country'])
dynamic_outputs = get_graph(dframe, selected_filters)#here11

"""
# #END CUSTOM CODE

In [17]:
#step2_Table = """
# Below codestring is used to display the grid table that consists of data of cost of basic ammenities.

import pandas as pd
import json
from io import StringIO


def getLogger():
    import logging
    logging.basicConfig(filename="UIACLogger.log",
                        format='%(asctime)s %(message)s',
                        filemode='a')
    logger = logging.getLogger()
    logger.setLevel(logging.DEBUG)
    return logger


logger = getLogger()


def file_read(blob_name):
    #reading the file from azure blob storage container
    logger.info(f"Read dataset file: {blob_name}")
    try:
        from azure.storage.blob import BlockBlobService
        sas_token = '?sv=2021-04-10&st=2022-12-22T08%3A12%3A47Z&se=2023-12-30T08%3A12%3A00Z&sr=c&sp=racwl&sig=fMeYkXsCvwK%2F0qVrCmj2j3NiMricQjOPWOkAEXekIPA%3D'
        account_name = 'willbedeletedsoon'
        container_name = 'codx-pede-s02'
        #blob_name = 'cost-of-living_v2_I0869'
        def get_data_from_blob(sas_token, account_name, container_name, blob_name):
            block_blob_service = BlockBlobService(account_name=account_name, sas_token= sas_token)
            from_blob = block_blob_service.get_blob_to_text(container_name = container_name, blob_name=blob_name)
            return pd.read_csv(StringIO(from_blob.content))
        input_df=get_data_from_blob(sas_token, account_name, container_name, blob_name)
        #filtering out empty columns
        # input_df = input_df[input_df.x2.notnull()]
        # input_df = input_df[input_df.x23.notnull()]
        # input_df = input_df[input_df.x33.notnull()]
        # input_df = input_df[input_df.x54.notnull()]
        data_good = input_df[input_df["data_quality"] == 1]
        
        ##print(data_good)
        return(data_good)
    except Exception as error_msg:
        logger.info(f"Exception occured while reading the dataset: {blob_name}"
                    f"Error Info is  {error_msg}")


def get_filter_table(dframe, selected_filters):
    logger.info("Applying screen filters on the grid table dframe.")
    select_df = dframe.copy()
    for item in list(selected_filters):
        if isinstance(selected_filters[item], list):
            if 'All' not in selected_filters[item] and selected_filters[item]:
                select_df = select_df[select_df[item].isin(
                    selected_filters[item])]
        else:
            if selected_filters[item] != 'All':
                select_df = select_df[select_df[item]
                                      == selected_filters[item]]
    logger.info("Successfully applied screen filters on the grid table dframe.")
    return select_df


def generate_dynamic_table(dframe, name='Sales', grid_options={"tableSize": "small", "tableMaxHeight": "80vh", "quickSearch":True}, group_headers=[], grid="auto"):
    logger.info("Generate dynamic Grid table json from dframe")
    table_dict = {}
    table_props = {}
    table_dict.update({"grid": grid, "type": "tabularForm",
                      "noGutterBottom": True, 'name': name})
    values_dict = dframe.dropna(axis=1).to_dict("records")
    table_dict.update({"value": values_dict})
    col_def_list = []
    for col in list(dframe.columns):
        col_def_dict = {}
        col_def_dict.update({"headerName": col, "field": col})
        col_def_list.append(col_def_dict)
    table_props["groupHeaders"] = group_headers
    table_props["coldef"] = col_def_list
    table_props["gridOptions"] = grid_options
    table_dict.update({"tableprops": table_props})
    logger.info("Successfully generated dynamic Grid table json from dframe")
    return table_dict


def build_grid_table_json():
    logger.info("Preparing grid table json for Table Screen")
    form_config = {}
    dframe = file_read("cost-of-living_v2_I0869.csv")

    dframe=dframe[['country','city','x48', 'x41', 'x36', 'x8','x30']]
    dframe.columns = dframe.columns.str.replace('x48', 'Apartment')
    dframe.columns = dframe.columns.str.replace('x41', 'Movie Ticket')
    dframe.columns = dframe.columns.str.replace('x36', 'Basic cost')
    dframe.columns = dframe.columns.str.replace('x8', 'Water')
    dframe.columns = dframe.columns.str.replace('x30', 'Taxi')
    #dframe=dframe.sample(n = 50)
    #print(dframe)
    
    selected_filters = {"country": ['India','China','Russia','United States']}

    dframe2 = get_filter_table(dframe, selected_filters)
    dframe2=dframe2.sample(n = 50)
    print(dframe2)
    form_config['fields'] = [generate_dynamic_table(dframe2)]
    grid_table_json = {}
    grid_table_json['form_config'] = form_config
    logger.info("Successfully prepared grid table json for Table Screen")
    print(grid_table_json)
    return grid_table_json


grid_table_json = build_grid_table_json()
dynamic_outputs = json.dumps(grid_table_json)

#"""

            country             city  Apartment  Movie Ticket  Basic cost  \
632   United States          El Paso     916.67         11.00      193.29
299   United States         Columbus    1394.44         12.00      204.48
1599  United States           Tacoma    1775.00         12.50      192.59
1322  United States            Plano    1666.67         12.00      238.65
1487  United States          Fremont    2312.50         14.50      247.78
601   United States       Fort Worth    1387.50         12.50      212.50
948   United States       Long Beach    2175.00         15.00      159.71
142   United States          Seattle    2291.82         15.00      221.73
1804  United States  Fort Lauderdale    2381.25         13.00      138.95
225   United States        Baltimore    1559.96         12.00      148.18
374          Russia             Omsk     325.33          4.00      126.82
1151  United States       Greensboro    1400.00         12.00      162.37
686   United States        Rochester     908.33         11.00      150.75
241           India           Indore     128.28          3.19       27.98
3762  United States    Daytona Beach    1480.17         10.00      160.06
73            China         Hangzhou     523.15          6.41       38.07
848          Russia           Ryazan     304.00          5.60      120.86
46    United States          Chicago    1969.12         15.00      163.78
914   United States          Wichita    1166.67         11.00      189.57
771   United States     Grand Rapids    1580.00         12.00      118.29
1665  United States         Amarillo     809.20         10.00      101.38
1234  United States        Asheville    2700.00         12.75      261.69
227   United States        Las Vegas    1452.53         13.50      187.27
274   United States       Pittsburgh    1454.92         11.25      199.46
190   United States         Brooklyn    2806.77         17.00      132.48
426           India       Chandigarh     152.84          3.07       71.05
203           India           Nagpur     101.32          3.99       17.46
50            India        Ahmedabad     461.38          3.07       39.47
918   United States       Greenville    1800.00         13.12      166.81
593   United States          Buffalo    1388.33         15.00      177.81
48            China        Chongqing     273.32          4.98       45.92
636           India     Bhubaneshwar     166.36          3.38       27.62
1140  United States        Pensacola    1500.00         12.00      340.06
677   United States       Birmingham    1300.00         10.00      213.78
1650  United States            Fargo    1112.50         10.00      154.44
30            India        Hyderabad     173.77          3.68       28.69
970   United States             Reno    1638.75         10.00      155.07
808           India        Dehra Dun     145.85          4.30       58.34
29            China            Wuhan     350.19          5.55       40.46
2441  United States             Bend    2300.00         13.50      173.47
625          Russia          Saratov     326.40          4.88      111.91
345           India         Jabalpur     124.35          3.68       29.48
174   United States           Denver    1893.00         14.00      158.16
2297  United States         Berkeley    2247.50         15.00      193.45
4494         Russia   Kalach-na-Donu     473.14          5.60      133.70
376          Russia           Samara     354.42          5.60      106.24
1174  United States       Fort Wayne     725.00         11.00      218.75
2017  United States        Sunnyvale    2950.00         15.00      128.31
1361  United States         Savannah    1820.00         10.25      147.09
228           India         Vadodara     100.56          2.46       32.32

      Water  Taxi
632    1.19  1.65
299    1.59  3.50
1599   1.81  3.50
1322   1.78  2.95
1487   2.29  3.00
601    1.62  2.25
948    1.89  5.62
142    1.94  5.00
1804   1.77  5.00
225    1.69  4.00
374    0.74  1.26
1151   1.34  2.50
686    1.71  2.75
241    0.19  0.61
3762   1.41  3.20
73     0.31  1.85
848    0.48  2.80
46     1.99  3.50
914    1.25  2.25
771    1.78  6.00
1665   1.50  3.00
1234   1.62  5.50
227    1.89  3.88
274    1.61  4.50
190    1.67  3.80
426    0.37  0.80
203    0.18  0.68
50     0.18  0.68
918    1.53  3.50
593    1.72  2.45
48     0.27  1.42
636    0.15  1.17
1140   1.42  2.25
677    1.71  4.50
1650   1.58  4.50
30     0.18  0.98
970    1.72  3.00
808    0.19  0.61
29     0.23  1.42
2441   1.84  1.00
625    0.56  1.19
345    0.16  0.40
174    2.03  3.00
2297   2.00  3.00
4494   0.50  1.60
376    0.86  1.92
1174   1.23  2.50
2017   1.25  4.00
1361   1.88  2.50
228    0.19  0.49
{'form_config': {'fields': [{'grid': 'auto', 'type': 'tabularForm', 'noGutterBottom': True, 'name': 'Sales', 'value': [{'country': 'United States', 'city': 'El Paso', 'Apartment': 916.67, 'Movie Ticket': 11.0, 'Basic cost': 193.29, 'Water': 1.19, 'Taxi': 1.65}, {'country': 'United States', 'city': 'Columbus', 'Apartment': 1394.44, 'Movie Ticket': 12.0, 'Basic cost': 204.48, 'Water': 1.59, 'Taxi': 3.5}, {'country': 'United States', 'city': 'Tacoma', 'Apartment': 1775.0, 'Movie Ticket': 12.5, 'Basic cost': 192.59, 'Water': 1.81, 'Taxi': 3.5}, {'country': 'United States', 'city': 'Plano', 'Apartment': 1666.67, 'Movie Ticket': 12.0, 'Basic cost': 238.65, 'Water': 1.78, 'Taxi': 2.95}, {'country': 'United States', 'city': 'Fremont', 'Apartment': 2312.5, 'Movie Ticket': 14.5, 'Basic cost': 247.78, 'Water': 2.29, 'Taxi': 3.0}, {'country': 'United States', 'city': 'Fort Worth', 'Apartment': 1387.5, 'Movie Ticket': 12.5, 'Basic cost': 212.5, 'Water': 1.62, 'Taxi': 2.25}, {'country': 'United States', 'city': 'Long Beach', 'Apartment': 2175.0, 'Movie Ticket': 15.0, 'Basic cost': 159.71, 'Water': 1.89, 'Taxi': 5.62}, {'country': 'United States', 'city': 'Seattle', 'Apartment': 2291.82, 'Movie Ticket': 15.0, 'Basic cost': 221.73, 'Water': 1.94, 'Taxi': 5.0}, {'country': 'United States', 'city': 'Fort Lauderdale', 'Apartment': 2381.25, 'Movie Ticket': 13.0, 'Basic cost': 138.95, 'Water': 1.77, 'Taxi': 5.0}, {'country': 'United States', 'city': 'Baltimore', 'Apartment': 1559.96, 'Movie Ticket': 12.0, 'Basic cost': 148.18, 'Water': 1.69, 'Taxi': 4.0}, {'country': 'Russia', 'city': 'Omsk', 'Apartment': 325.33, 'Movie Ticket': 4.0, 'Basic cost': 126.82, 'Water': 0.74, 'Taxi': 1.26}, {'country': 'United States', 'city': 'Greensboro', 'Apartment': 1400.0, 'Movie Ticket': 12.0, 'Basic cost': 162.37, 'Water': 1.34, 'Taxi': 2.5}, {'country': 'United States', 'city': 'Rochester', 'Apartment': 908.33, 'Movie Ticket': 11.0, 'Basic cost': 150.75, 'Water': 1.71, 'Taxi': 2.75}, {'country': 'India', 'city': 'Indore', 'Apartment': 128.28, 'Movie Ticket': 3.19, 'Basic cost': 27.98, 'Water': 0.19, 'Taxi': 0.61}, {'country': 'United States', 'city': 'Daytona Beach', 'Apartment': 1480.17, 'Movie Ticket': 10.0, 'Basic cost': 160.06, 'Water': 1.41, 'Taxi': 3.2}, {'country': 'China', 'city': 'Hangzhou', 'Apartment': 523.15, 'Movie Ticket': 6.41, 'Basic cost': 38.07, 'Water': 0.31, 'Taxi': 1.85}, {'country': 'Russia', 'city': 'Ryazan', 'Apartment': 304.0, 'Movie Ticket': 5.6, 'Basic cost': 120.86, 'Water': 0.48, 'Taxi': 2.8}, {'country': 'United States', 'city': 'Chicago', 'Apartment': 1969.12, 'Movie Ticket': 15.0, 'Basic cost': 163.78, 'Water': 1.99, 'Taxi': 3.5}, {'country': 'United States', 'city': 'Wichita', 'Apartment': 1166.67, 'Movie Ticket': 11.0, 'Basic cost': 189.57, 'Water': 1.25, 'Taxi': 2.25}, {'country': 'United States', 'city': 'Grand Rapids', 'Apartment': 1580.0, 'Movie Ticket': 12.0, 'Basic cost': 118.29, 'Water': 1.78, 'Taxi': 6.0}, {'country': 'United States', 'city': 'Amarillo', 'Apartment': 809.2, 'Movie Ticket': 10.0, 'Basic cost': 101.38, 'Water': 1.5, 'Taxi': 3.0}, {'country': 'United States', 'city': 'Asheville', 'Apartment': 2700.0, 'Movie Ticket': 12.75, 'Basic cost': 261.69, 'Water': 1.62, 'Taxi': 5.5}, {'country': 'United States', 'city': 'Las Vegas', 'Apartment': 1452.53, 'Movie Ticket': 13.5, 'Basic cost': 187.27, 'Water': 1.89, 'Taxi': 3.88}, {'country': 'United States', 'city': 'Pittsburgh', 'Apartment': 1454.92, 'Movie Ticket': 11.25, 'Basic cost': 199.46, 'Water': 1.61, 'Taxi': 4.5}, {'country': 'United States', 'city': 'Brooklyn', 'Apartment': 2806.77, 'Movie Ticket': 17.0, 'Basic cost': 132.48, 'Water': 1.67, 'Taxi': 3.8}, {'country': 'India', 'city': 'Chandigarh', 'Apartment': 152.84, 'Movie Ticket': 3.07, 'Basic cost': 71.05, 'Water': 0.37, 'Taxi': 0.8}, {'country': 'India', 'city': 'Nagpur', 'Apartment': 101.32, 'Movie Ticket': 3.99, 'Basic cost': 17.46, 'Water': 0.18, 'Taxi': 0.68}, {'country': 'India', 'city': 'Ahmedabad', 'Apartment': 461.38, 'Movie Ticket': 3.07, 'Basic cost': 39.47, 'Water': 0.18, 'Taxi': 0.68}, {'country': 'United States', 'city': 'Greenville', 'Apartment': 1800.0, 'Movie Ticket': 13.12, 'Basic cost': 166.81, 'Water': 1.53, 'Taxi': 3.5}, {'country': 'United States', 'city': 'Buffalo', 'Apartment': 1388.33, 'Movie Ticket': 15.0, 'Basic cost': 177.81, 'Water': 1.72, 'Taxi': 2.45}, {'country': 'China', 'city': 'Chongqing', 'Apartment': 273.32, 'Movie Ticket': 4.98, 'Basic cost': 45.92, 'Water': 0.27, 'Taxi': 1.42}, {'country': 'India', 'city': 'Bhubaneshwar', 'Apartment': 166.36, 'Movie Ticket': 3.38, 'Basic cost': 27.62, 'Water': 0.15, 'Taxi': 1.17}, {'country': 'United States', 'city': 'Pensacola', 'Apartment': 1500.0, 'Movie Ticket': 12.0, 'Basic cost': 340.06, 'Water': 1.42, 'Taxi': 2.25}, {'country': 'United States', 'city': 'Birmingham', 'Apartment': 1300.0, 'Movie Ticket': 10.0, 'Basic cost': 213.78, 'Water': 1.71, 'Taxi': 4.5}, {'country': 'United States', 'city': 'Fargo', 'Apartment': 1112.5, 'Movie Ticket': 10.0, 'Basic cost': 154.44, 'Water': 1.58, 'Taxi': 4.5}, {'country': 'India', 'city': 'Hyderabad', 'Apartment': 173.77, 'Movie Ticket': 3.68, 'Basic cost': 28.69, 'Water': 0.18, 'Taxi': 0.98}, {'country': 'United States', 'city': 'Reno', 'Apartment': 1638.75, 'Movie Ticket': 10.0, 'Basic cost': 155.07, 'Water': 1.72, 'Taxi': 3.0}, {'country': 'India', 'city': 'Dehra Dun', 'Apartment': 145.85, 'Movie Ticket': 4.3, 'Basic cost': 58.34, 'Water': 0.19, 'Taxi': 0.61}, {'country': 'China', 'city': 'Wuhan', 'Apartment': 350.19, 'Movie Ticket': 5.55, 'Basic cost': 40.46, 'Water': 0.23, 'Taxi': 1.42}, {'country': 'United States', 'city': 'Bend', 'Apartment': 2300.0, 'Movie Ticket': 13.5, 'Basic cost': 173.47, 'Water': 1.84, 'Taxi': 1.0}, {'country': 'Russia', 'city': 'Saratov', 'Apartment': 326.4, 'Movie Ticket': 4.88, 'Basic cost': 111.91, 'Water': 0.56, 'Taxi': 1.19}, {'country': 'India', 'city': 'Jabalpur', 'Apartment': 124.35, 'Movie Ticket': 3.68, 'Basic cost': 29.48, 'Water': 0.16, 'Taxi': 0.4}, {'country': 'United States', 'city': 'Denver', 'Apartment': 1893.0, 'Movie Ticket': 14.0, 'Basic cost': 158.16, 'Water': 2.03, 'Taxi': 3.0}, {'country': 'United States', 'city': 'Berkeley', 'Apartment': 2247.5, 'Movie Ticket': 15.0, 'Basic cost': 193.45, 'Water': 2.0, 'Taxi': 3.0}, {'country': 'Russia', 'city': 'Kalach-na-Donu', 'Apartment': 473.14, 'Movie Ticket': 5.6, 'Basic cost': 133.7, 'Water': 0.5, 'Taxi': 1.6}, {'country': 'Russia', 'city': 'Samara', 'Apartment': 354.42, 'Movie Ticket': 5.6, 'Basic cost': 106.24, 'Water': 0.86, 'Taxi': 1.92}, {'country': 'United States', 'city': 'Fort Wayne', 'Apartment': 725.0, 'Movie Ticket': 11.0, 'Basic cost': 218.75, 'Water': 1.23, 'Taxi': 2.5}, {'country': 'United States', 'city': 'Sunnyvale', 'Apartment': 2950.0, 'Movie Ticket': 15.0, 'Basic cost': 128.31, 'Water': 1.25, 'Taxi': 4.0}, {'country': 'United States', 'city': 'Savannah', 'Apartment': 1820.0, 'Movie Ticket': 10.25, 'Basic cost': 147.09, 'Water': 1.88, 'Taxi': 2.5}, {'country': 'India', 'city': 'Vadodara', 'Apartment': 100.56, 'Movie Ticket': 2.46, 'Basic cost': 32.32, 'Water': 0.19, 'Taxi': 0.49}], 'tableprops': {'groupHeaders': [], 'coldef': [{'headerName': 'country', 'field': 'country'}, {'headerName': 'city', 'field': 'city'}, {'headerName': 'Apartment', 'field': 'Apartment'}, {'headerName': 'Movie Ticket', 'field': 'Movie Ticket'}, {'headerName': 'Basic cost', 'field': 'Basic cost'}, {'headerName': 'Water', 'field': 'Water'}, {'headerName': 'Taxi', 'field': 'Taxi'}], 'gridOptions': {'tableSize': 'small', 'tableMaxHeight': '80vh', 'quickSearch': True}}}]}}

In [18]:
dynamic_outputs

'{"form_config": {"fields": [{"grid": "auto", "type": "tabularForm", "noGutterBottom": true, "name": "Sales", "value": [{"country": "United States", "city": "El Paso", "Apartment": 916.67, "Movie Ticket": 11.0, "Basic cost": 193.29, "Water": 1.19, "Taxi": 1.65}, {"country": "United States", "city": "Columbus", "Apartment": 1394.44, "Movie Ticket": 12.0, "Basic cost": 204.48, "Water": 1.59, "Taxi": 3.5}, {"country": "United States", "city": "Tacoma", "Apartment": 1775.0, "Movie Ticket": 12.5, "Basic cost": 192.59, "Water": 1.81, "Taxi": 3.5}, {"country": "United States", "city": "Plano", "Apartment": 1666.67, "Movie Ticket": 12.0, "Basic cost": 238.65, "Water": 1.78, "Taxi": 2.95}, {"country": "United States", "city": "Fremont", "Apartment": 2312.5, "Movie Ticket": 14.5, "Basic cost": 247.78, "Water": 2.29, "Taxi": 3.0}, {"country": "United States", "city": "Fort Worth", "Apartment": 1387.5, "Movie Ticket": 12.5, "Basic cost": 212.5, "Water": 1.62, "Taxi": 2.25}, {"country": "United States", "city": "Long Beach", "Apartment": 2175.0, "Movie Ticket": 15.0, "Basic cost": 159.71, "Water": 1.89, "Taxi": 5.62}, {"country": "United States", "city": "Seattle", "Apartment": 2291.82, "Movie Ticket": 15.0, "Basic cost": 221.73, "Water": 1.94, "Taxi": 5.0}, {"country": "United States", "city": "Fort Lauderdale", "Apartment": 2381.25, "Movie Ticket": 13.0, "Basic cost": 138.95, "Water": 1.77, "Taxi": 5.0}, {"country": "United States", "city": "Baltimore", "Apartment": 1559.96, "Movie Ticket": 12.0, "Basic cost": 148.18, "Water": 1.69, "Taxi": 4.0}, {"country": "Russia", "city": "Omsk", "Apartment": 325.33, "Movie Ticket": 4.0, "Basic cost": 126.82, "Water": 0.74, "Taxi": 1.26}, {"country": "United States", "city": "Greensboro", "Apartment": 1400.0, "Movie Ticket": 12.0, "Basic cost": 162.37, "Water": 1.34, "Taxi": 2.5}, {"country": "United States", "city": "Rochester", "Apartment": 908.33, "Movie Ticket": 11.0, "Basic cost": 150.75, "Water": 1.71, "Taxi": 2.75}, {"country": "India", "city": "Indore", "Apartment": 128.28, "Movie Ticket": 3.19, "Basic cost": 27.98, "Water": 0.19, "Taxi": 0.61}, {"country": "United States", "city": "Daytona Beach", "Apartment": 1480.17, "Movie Ticket": 10.0, "Basic cost": 160.06, "Water": 1.41, "Taxi": 3.2}, {"country": "China", "city": "Hangzhou", "Apartment": 523.15, "Movie Ticket": 6.41, "Basic cost": 38.07, "Water": 0.31, "Taxi": 1.85}, {"country": "Russia", "city": "Ryazan", "Apartment": 304.0, "Movie Ticket": 5.6, "Basic cost": 120.86, "Water": 0.48, "Taxi": 2.8}, {"country": "United States", "city": "Chicago", "Apartment": 1969.12, "Movie Ticket": 15.0, "Basic cost": 163.78, "Water": 1.99, "Taxi": 3.5}, {"country": "United States", "city": "Wichita", "Apartment": 1166.67, "Movie Ticket": 11.0, "Basic cost": 189.57, "Water": 1.25, "Taxi": 2.25}, {"country": "United States", "city": "Grand Rapids", "Apartment": 1580.0, "Movie Ticket": 12.0, "Basic cost": 118.29, "Water": 1.78, "Taxi": 6.0}, {"country": "United States", "city": "Amarillo", "Apartment": 809.2, "Movie Ticket": 10.0, "Basic cost": 101.38, "Water": 1.5, "Taxi": 3.0}, {"country": "United States", "city": "Asheville", "Apartment": 2700.0, "Movie Ticket": 12.75, "Basic cost": 261.69, "Water": 1.62, "Taxi": 5.5}, {"country": "United States", "city": "Las Vegas", "Apartment": 1452.53, "Movie Ticket": 13.5, "Basic cost": 187.27, "Water": 1.89, "Taxi": 3.88}, {"country": "United States", "city": "Pittsburgh", "Apartment": 1454.92, "Movie Ticket": 11.25, "Basic cost": 199.46, "Water": 1.61, "Taxi": 4.5}, {"country": "United States", "city": "Brooklyn", "Apartment": 2806.77, "Movie Ticket": 17.0, "Basic cost": 132.48, "Water": 1.67, "Taxi": 3.8}, {"country": "India", "city": "Chandigarh", "Apartment": 152.84, "Movie Ticket": 3.07, "Basic cost": 71.05, "Water": 0.37, "Taxi": 0.8}, {"country": "India", "city": "Nagpur", "Apartment": 101.32, "Movie Ticket": 3.99, "Basic cost": 17.46, "Water": 0.18, "Taxi": 0.68}, {"country": "India", "city": "Ahmedabad", "Apartment": 461.38, "Movie Ticket": 3.07, "Basic cost": 39.47, "Water": 0.18, "Taxi": 0.68}, {"country": "United States", "city": "Greenville", "Apartment": 1800.0, "Movie Ticket": 13.12, "Basic cost": 166.81, "Water": 1.53, "Taxi": 3.5}, {"country": "United States", "city": "Buffalo", "Apartment": 1388.33, "Movie Ticket": 15.0, "Basic cost": 177.81, "Water": 1.72, "Taxi": 2.45}, {"country": "China", "city": "Chongqing", "Apartment": 273.32, "Movie Ticket": 4.98, "Basic cost": 45.92, "Water": 0.27, "Taxi": 1.42}, {"country": "India", "city": "Bhubaneshwar", "Apartment": 166.36, "Movie Ticket": 3.38, "Basic cost": 27.62, "Water": 0.15, "Taxi": 1.17}, {"country": "United States", "city": "Pensacola", "Apartment": 1500.0, "Movie Ticket": 12.0, "Basic cost": 340.06, "Water": 1.42, "Taxi": 2.25}, {"country": "United States", "city": "Birmingham", "Apartment": 1300.0, "Movie Ticket": 10.0, "Basic cost": 213.78, "Water": 1.71, "Taxi": 4.5}, {"country": "United States", "city": "Fargo", "Apartment": 1112.5, "Movie Ticket": 10.0, "Basic cost": 154.44, "Water": 1.58, "Taxi": 4.5}, {"country": "India", "city": "Hyderabad", "Apartment": 173.77, "Movie Ticket": 3.68, "Basic cost": 28.69, "Water": 0.18, "Taxi": 0.98}, {"country": "United States", "city": "Reno", "Apartment": 1638.75, "Movie Ticket": 10.0, "Basic cost": 155.07, "Water": 1.72, "Taxi": 3.0}, {"country": "India", "city": "Dehra Dun", "Apartment": 145.85, "Movie Ticket": 4.3, "Basic cost": 58.34, "Water": 0.19, "Taxi": 0.61}, {"country": "China", "city": "Wuhan", "Apartment": 350.19, "Movie Ticket": 5.55, "Basic cost": 40.46, "Water": 0.23, "Taxi": 1.42}, {"country": "United States", "city": "Bend", "Apartment": 2300.0, "Movie Ticket": 13.5, "Basic cost": 173.47, "Water": 1.84, "Taxi": 1.0}, {"country": "Russia", "city": "Saratov", "Apartment": 326.4, "Movie Ticket": 4.88, "Basic cost": 111.91, "Water": 0.56, "Taxi": 1.19}, {"country": "India", "city": "Jabalpur", "Apartment": 124.35, "Movie Ticket": 3.68, "Basic cost": 29.48, "Water": 0.16, "Taxi": 0.4}, {"country": "United States", "city": "Denver", "Apartment": 1893.0, "Movie Ticket": 14.0, "Basic cost": 158.16, "Water": 2.03, "Taxi": 3.0}, {"country": "United States", "city": "Berkeley", "Apartment": 2247.5, "Movie Ticket": 15.0, "Basic cost": 193.45, "Water": 2.0, "Taxi": 3.0}, {"country": "Russia", "city": "Kalach-na-Donu", "Apartment": 473.14, "Movie Ticket": 5.6, "Basic cost": 133.7, "Water": 0.5, "Taxi": 1.6}, {"country": "Russia", "city": "Samara", "Apartment": 354.42, "Movie Ticket": 5.6, "Basic cost": 106.24, "Water": 0.86, "Taxi": 1.92}, {"country": "United States", "city": "Fort Wayne", "Apartment": 725.0, "Movie Ticket": 11.0, "Basic cost": 218.75, "Water": 1.23, "Taxi": 2.5}, {"country": "United States", "city": "Sunnyvale", "Apartment": 2950.0, "Movie Ticket": 15.0, "Basic cost": 128.31, "Water": 1.25, "Taxi": 4.0}, {"country": "United States", "city": "Savannah", "Apartment": 1820.0, "Movie Ticket": 10.25, "Basic cost": 147.09, "Water": 1.88, "Taxi": 2.5}, {"country": "India", "city": "Vadodara", "Apartment": 100.56, "Movie Ticket": 2.46, "Basic cost": 32.32, "Water": 0.19, "Taxi": 0.49}], "tableprops": {"groupHeaders": [], "coldef": [{"headerName": "country", "field": "country"}, {"headerName": "city", "field": "city"}, {"headerName": "Apartment", "field": "Apartment"}, {"headerName": "Movie Ticket", "field": "Movie Ticket"}, {"headerName": "Basic cost", "field": "Basic cost"}, {"headerName": "Water", "field": "Water"}, {"headerName": "Taxi", "field": "Taxi"}], "gridOptions": {"tableSize": "small", "tableMaxHeight": "80vh", "quickSearch": true}}}]}}'

In [11]:
step3_Table = """
# Below codestring is used to display the grid table that consists of historic sales done over time on each product.

import pandas as pd
import json
from io import StringIO


def getLogger():
    import logging
    logging.basicConfig(filename="UIACLogger.log",
                        format='%(asctime)s %(message)s',
                        filemode='a')
    logger = logging.getLogger()
    logger.setLevel(logging.DEBUG)
    return logger


logger = getLogger()


def file_read(blob_name):
    #reading the file from azure blob storage container
    logger.info(f"Read dataset file: {blob_name}")
    try:
        from azure.storage.blob import BlockBlobService
        sas_token = '?sv=2021-04-10&st=2022-12-22T08%3A12%3A47Z&se=2023-12-30T08%3A12%3A00Z&sr=c&sp=racwl&sig=fMeYkXsCvwK%2F0qVrCmj2j3NiMricQjOPWOkAEXekIPA%3D'
        account_name = 'willbedeletedsoon'
        container_name = 'codx-pede-s02'
        #blob_name = 'cost-of-living_v2_I0869' file_read("cost-of-living_v2_I0869")
        def get_data_from_blob(sas_token, account_name, container_name, blob_name):
            block_blob_service = BlockBlobService(account_name=account_name, sas_token= sas_token)
            from_blob = block_blob_service.get_blob_to_text(container_name = container_name, blob_name=blob_name)
            return pd.read_csv(StringIO(from_blob.content))
        input_df=get_data_from_blob(sas_token, account_name, container_name, blob_name)
        #filtering out empty columns
        input_df = input_df[input_df.x2.notnull()]
        input_df = input_df[input_df.x8.notnull()]
        input_df = input_df[input_df.x33.notnull()]
        input_df = input_df[input_df.x54.notnull()]
        input_df = input_df[input_df.x48.notnull()]
        input_df = input_df[input_df.x37.notnull()]
        input_df = input_df[input_df.x36.notnull()]
        data_good = input_df[input_df["data_quality"] == 1]
        
        #print(data_good)
        return(data_good)
    except Exception as error_msg:
        logger.info(f"Exception occured while reading the dataset: {blob_name}"
                    f"Error Info is  {error_msg}")


def get_filter_table(dframe, selected_filters):
    logger.info("Applying screen filters on the grid table dframe.")
    select_df = dframe.copy()
    for item in list(selected_filters):
        if isinstance(selected_filters[item], list):
            if 'All' not in selected_filters[item] and selected_filters[item]:
                select_df = select_df[select_df[item].isin(
                    selected_filters[item])]
        else:
            if selected_filters[item] != 'All':
                select_df = select_df[select_df[item]
                                      == selected_filters[item]]
    logger.info("Successfully applied screen filters on the grid table dframe.")
    return select_df


def generate_dynamic_table(dframe, name='Sales', grid_options={"tableSize": "small", "tableMaxHeight": "80vh", "quickSearch":True}, group_headers=[], grid="auto"):
    logger.info("Generate dynamic Grid table json from dframe")
    table_dict = {}
    table_props = {}
    table_dict.update({"grid": grid, "type": "tabularForm",
                      "noGutterBottom": True, 'name': name})
    values_dict = dframe.dropna(axis=1).to_dict("records")
    table_dict.update({"value": values_dict})
    col_def_list = []
    for col in list(dframe.columns):
        col_def_dict = {}
        col_def_dict.update({"headerName": col, "field": col})
        col_def_list.append(col_def_dict)
    table_props["groupHeaders"] = group_headers
    table_props["coldef"] = col_def_list
    table_props["gridOptions"] = grid_options
    table_dict.update({"tableprops": table_props})
    logger.info("Successfully generated dynamic Grid table json from dframe")
    return table_dict


def build_grid_table_json():
    logger.info("Preparing grid table json for Colour Screen")
    form_config = {}
    dframe = file_read("cost-of-living_v2_I0869.csv")
    dframe=dframe[['country','city','x48', 'x41', 'x36', 'x8']] #--here281222 --5 columns
    dframe.columns = dframe.columns.str.replace('x48', 'Apartment')
    dframe.columns = dframe.columns.str.replace('x41', 'Movie Ticket')
    dframe.columns = dframe.columns.str.replace('x36', 'Basic cost')
    dframe.columns = dframe.columns.str.replace('x8', 'Water')
    
    selected_filters = {"country": ['India','United States']}
    
    dframe2 = get_filter_table(dframe, selected_filters)
    form_config['fields'] = [generate_dynamic_table(dframe2)]
    grid_table_json = {}
    grid_table_json['form_config'] = form_config
    logger.info("Successfully prepared grid table json for Colour Screen")
    return grid_table_json

grid_table_json = build_grid_table_json()
dynamic_outputs = json.dumps(grid_table_json)

# """

In [12]:
step4_a ="""
import numpy as np
import pandas as pd
import plotly.express as px
import pandas as pd
import json
from io import StringIO
import plotly.io as io
from plotly.io import to_json




def getLogger():
    import logging
    logging.basicConfig(filename="UIACLogger.log",
                        format='%(asctime)s %(message)s',
                        filemode='a')
    logger = logging.getLogger()
    logger.setLevel(logging.DEBUG)
    return logger


logger = getLogger()



def getGraph():
    logger.info(
        "Preparing scatter plot json to understand relation between x and y values")
    df = pd.DataFrame(np.random.randint(0,100,size=(100, 1)), columns=list('X'))
    c = 4
    df = df.assign(Y = lambda x: (x['X']**3+c))
    fig = px.scatter(df, y='Y', x='X')
    fig.show()
    return io.to_json(fig)
dynamic_outputs = getGraph()
#print(df)
"""

In [13]:
step5 ="""
import plotly.graph_objects as go
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import plotly.express as px
import json
from io import StringIO
import plotly.io as io
from plotly.io import to_json



def getLogger():
    import logging
    logging.basicConfig(filename="UIACLogger.log",
                        format='%(asctime)s %(message)s',
                        filemode='a')
    logger = logging.getLogger()
    logger.setLevel(logging.DEBUG)
    return logger


logger = getLogger()

def file_read(blob_name):
    #reading the file from azure blob storage container
    logger.info(f"Read dataset file: {blob_name}")
    try:
        from azure.storage.blob import BlockBlobService
        sas_token = '?sv=2021-04-10&st=2022-12-22T08%3A12%3A47Z&se=2023-12-30T08%3A12%3A00Z&sr=c&sp=racwl&sig=fMeYkXsCvwK%2F0qVrCmj2j3NiMricQjOPWOkAEXekIPA%3D'
        account_name = 'willbedeletedsoon'
        container_name = 'codx-pede-s02'
        #blob_name = 'cost-of-living_v2_I0869'
        def get_data_from_blob(sas_token, account_name, container_name, blob_name):
            block_blob_service = BlockBlobService(account_name=account_name, sas_token= sas_token)
            from_blob = block_blob_service.get_blob_to_text(container_name = container_name, blob_name=blob_name)
            return pd.read_csv(StringIO(from_blob.content))
        input_df=get_data_from_blob(sas_token, account_name, container_name, blob_name)
        #filtering out empty columns
        input_df = input_df[input_df.x2.notnull()]
        input_df = input_df[input_df.x23.notnull()]
        input_df = input_df[input_df.x33.notnull()]
        input_df = input_df[input_df.x54.notnull()]
        data_good = input_df[input_df["data_quality"] == 1]
        
        ##print(data_good)
        return(input_df)
    except Exception as error_msg:
        logger.info(f"Exception occured while reading the dataset: {blob_name}"
                    f"Error Info is  {error_msg}")

def getGraph():
    logger.info(
        "Preparing scatter plot json to understand relation between x and y values")
    # load dataset
    #df = pd.DataFrame(np.random.randint(0,100,size=(100, 2)), columns=list('XY'))
    #df = df.assign(Y = lambda x: (x['X']**2))
    #df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/volcano.csv")
    input_df=file_read("cost-of-living_v2_I0869.csv")
        #filtering out empty columns
    df = input_df[input_df["data_quality"] == 1].groupby(['city'])
    df = input_df[input_df["country"] == 'India']
    #print(df)
    # create figure
    fig = go.Figure()

    # Add surface trace
    fig.add_trace(go.Surface(  x=df.city,y=df.x54, colorscale="Viridis"))

    # Update plot sizing
    # fig.update_layout(
    #     width=800,
    #     height=900,
    #     autosize=False,
    #     margin=dict(t=0, b=0, l=0, r=0),
    #     template="plotly_white",
    # )

    # Update 3D scene options
    # fig.update_scenes(
    #     aspectratio=dict(x=1, y=1, z=0.7),
    #     aspectmode="manual"
    # )

    # Add dropdown
    fig.update_layout(
        updatemenus=[
            dict(
                buttons=list([
                    dict(
                        args=["type", "bar"],
                        label="bar",
                        method="restyle"
                    ),
                    dict(
                        args=["type", "scatter"],
                        label="scatter",
                        method="restyle"
                    ),
                    dict(
                        args=["type", "violin"],
                        label="violin",
                        method="restyle"
                    ),
                    dict(
                        args=["type", "column"],
                        label="column",
                        method="restyle"
                    ),
                    dict(
                        args=["type", "box"],
                        label="box",
                        method="restyle"
                    )
                ]),
                direction="down",
                pad={"r": 10, "t": 10},
                showactive=True,
                x=0.1,
                xanchor="left",
                y=1.1,
                yanchor="top"
            ),
        ]
    )

    # Add annotation
    fig.update_layout(
        annotations=[
            dict(text="Trace type:", showarrow=False,
            x=0, y=1.085, yref="paper", align="left")
        ]
    )

    fig.show()
    return io.to_json(fig)

dynamic_outputs = getGraph()
"""

In [14]:
plots_dict={
    "step_2_Table":step2_Table,
    "step_3_Table":step3_Table,
    "step_1":step1,
    "step_4_a":step4_a,
    "step_5":step5
}
results_json.append({
    'type':'review',
    'name': 'overview',
    'component':'overview',
    'dynamic_visual_results': plots_dict      
})

In [15]:

currentNotebook = 'cost_forecasting_I01176_202212281524.ipynb'

!jupyter nbconvert --to script {currentNotebook}

(4, 2) {}
{'$schema': 'http://json-schema.org/draft-04/schema#', 'description': 'Jupyter Notebook v4.2 JSON schema.', 'type': 'object', 'additionalProperties': False, 'required': ['metadata', 'nbformat_minor', 'nbformat', 'cells'], 'properties': {'metadata': {'description': 'Notebook root-level metadata.', 'type': 'object', 'additionalProperties': True, 'properties': {'kernelspec': {'description': 'Kernel information.', 'type': 'object', 'required': ['name', 'display_name'], 'properties': {'name': {'description': 'Name of the kernel specification.', 'type': 'string'}, 'display_name': {'description': 'Name to display in UI.', 'type': 'string'}}}, 'language_info': {'description': 'Kernel information.', 'type': 'object', 'required': ['name'], 'properties': {'name': {'description': 'The programming language which this kernel runs.', 'type': 'string'}, 'codemirror_mode': {'description': 'The codemirror mode to use for code in this language.', 'oneOf': [{'type': 'string'}, {'type': 'object'}]}, 'file_extension': {'description': 'The file extension for files in this language.', 'type': 'string'}, 'mimetype': {'description': 'The mimetype corresponding to files in this language.', 'type': 'string'}, 'pygments_lexer': {'description': 'The pygments lexer to use for code in this language.', 'type': 'string'}}}, 'orig_nbformat': {'description': 'Original notebook format (major number) before converting the notebook between versions. This should never be written to a file.', 'type': 'integer', 'minimum': 1}, 'title': {'description': 'The title of the notebook document', 'type': 'string'}, 'authors': {'description': 'The author(s) of the notebook document', 'type': 'array', 'item': {'type': 'object', 'properties': {'name': {'type': 'string'}}, 'additionalProperties': True}}}}, 'nbformat_minor': {'description': 'Notebook format (minor number). Incremented for backward compatible changes to the notebook format.', 'type': 'integer', 'minimum': 2}, 'nbformat': {'description': 'Notebook format (major number). Incremented between backwards incompatible changes to the notebook format.', 'type': 'integer', 'minimum': 4, 'maximum': 4}, 'cells': {'description': 'Array of cells of the current notebook.', 'type': 'array', 'items': {'$ref': '#/definitions/cell'}}}, 'definitions': {'cell': {'type': 'object', 'oneOf': [{'$ref': '#/definitions/raw_cell'}, {'$ref': '#/definitions/markdown_cell'}, {'$ref': '#/definitions/code_cell'}]}, 'raw_cell': {'description': 'Notebook raw nbconvert cell.', 'type': 'object', 'additionalProperties': False, 'required': ['cell_type', 'metadata', 'source'], 'properties': {'cell_type': {'description': 'String identifying the type of cell.', 'enum': ['raw']}, 'metadata': {'description': 'Cell-level metadata.', 'type': 'object', 'additionalProperties': True, 'properties': {'format': {'description': 'Raw cell metadata format for nbconvert.', 'type': 'string'}, 'name': {'$ref': '#/definitions/misc/metadata_name'}, 'tags': {'$ref': '#/definitions/misc/metadata_tags'}}}, 'attachments': {'$ref': '#/definitions/misc/attachments'}, 'source': {'$ref': '#/definitions/misc/source'}}}, 'markdown_cell': {'description': 'Notebook markdown cell.', 'type': 'object', 'additionalProperties': False, 'required': ['cell_type', 'metadata', 'source'], 'properties': {'cell_type': {'description': 'String identifying the type of cell.', 'enum': ['markdown']}, 'metadata': {'description': 'Cell-level metadata.', 'type': 'object', 'properties': {'name': {'$ref': '#/definitions/misc/metadata_name'}, 'tags': {'$ref': '#/definitions/misc/metadata_tags'}}, 'additionalProperties': True}, 'attachments': {'$ref': '#/definitions/misc/attachments'}, 'source': {'$ref': '#/definitions/misc/source'}}}, 'code_cell': {'description': 'Notebook code cell.', 'type': 'object', 'additionalProperties': False, 'required': ['cell_type', 'metadata', 'source', 'outputs', 'execution_count'], 'properties': {'cell_type': {'description': 'String identifying the type of cell.', 'enum': ['code']}, 'metadata': {'description': 'Cell-level metadata.', 'type': 'object', 'additionalProperties': True, 'properties': {'collapsed': {'description': 'Whether the cell is collapsed/expanded.', 'type': 'boolean'}, 'scrolled': {'description': "Whether the cell's output is scrolled, unscrolled, or autoscrolled.", 'enum': [True, False, 'auto']}, 'name': {'$ref': '#/definitions/misc/metadata_name'}, 'tags': {'$ref': '#/definitions/misc/metadata_tags'}}}, 'source': {'$ref': '#/definitions/misc/source'}, 'outputs': {'description': 'Execution, display, or stream outputs.', 'type': 'array', 'items': {'$ref': '#/definitions/output'}}, 'execution_count': {'description': "The code cell's prompt number. Will be null if the cell has not been run.", 'type': ['integer', 'null'], 'minimum': 0}}}, 'unrecognized_cell': {'description': 'Unrecognized cell from a future minor-revision to the notebook format.', 'type': 'object', 'additionalProperties': True, 'required': ['cell_type', 'metadata'], 'properties': {'cell_type': {'description': 'String identifying the type of cell.', 'not': {'enum': ['markdown', 'code', 'raw']}}, 'metadata': {'description': 'Cell-level metadata.', 'type': 'object', 'properties': {'name': {'$ref': '#/definitions/misc/metadata_name'}, 'tags': {'$ref': '#/definitions/misc/metadata_tags'}}, 'additionalProperties': True}}}, 'output': {'type': 'object', 'oneOf': [{'$ref': '#/definitions/execute_result'}, {'$ref': '#/definitions/display_data'}, {'$ref': '#/definitions/stream'}, {'$ref': '#/definitions/error'}]}, 'execute_result': {'description': 'Result of executing a code cell.', 'type': 'object', 'additionalProperties': False, 'required': ['output_type', 'data', 'metadata', 'execution_count'], 'properties': {'output_type': {'description': 'Type of cell output.', 'enum': ['execute_result']}, 'execution_count': {'description': "A result's prompt number.", 'type': ['integer', 'null'], 'minimum': 0}, 'data': {'$ref': '#/definitions/misc/mimebundle'}, 'metadata': {'$ref': '#/definitions/misc/output_metadata'}}}, 'display_data': {'description': 'Data displayed as a result of code cell execution.', 'type': 'object', 'additionalProperties': False, 'required': ['output_type', 'data', 'metadata'], 'properties': {'output_type': {'description': 'Type of cell output.', 'enum': ['display_data']}, 'data': {'$ref': '#/definitions/misc/mimebundle'}, 'metadata': {'$ref': '#/definitions/misc/output_metadata'}}}, 'stream': {'description': 'Stream output from a code cell.', 'type': 'object', 'additionalProperties': False, 'required': ['output_type', 'name', 'text'], 'properties': {'output_type': {'description': 'Type of cell output.', 'enum': ['stream']}, 'name': {'description': 'The name of the stream (stdout, stderr).', 'type': 'string'}, 'text': {'description': "The stream's text output, represented as an array of strings.", '$ref': '#/definitions/misc/multiline_string'}}}, 'error': {'description': 'Output of an error that occurred during code cell execution.', 'type': 'object', 'additionalProperties': False, 'required': ['output_type', 'ename', 'evalue', 'traceback'], 'properties': {'output_type': {'description': 'Type of cell output.', 'enum': ['error']}, 'ename': {'description': 'The name of the error.', 'type': 'string'}, 'evalue': {'description': 'The value, or message, of the error.', 'type': 'string'}, 'traceback': {'description': "The error's traceback, represented as an array of strings.", 'type': 'array', 'items': {'type': 'string'}}}}, 'unrecognized_output': {'description': 'Unrecognized output from a future minor-revision to the notebook format.', 'type': 'object', 'additionalProperties': True, 'required': ['output_type'], 'properties': {'output_type': {'description': 'Type of cell output.', 'not': {'enum': ['execute_result', 'display_data', 'stream', 'error']}}}}, 'misc': {'metadata_name': {'description': "The cell's name. If present, must be a non-empty string. Must be unique across all the cells of a given notebook.", 'type': 'string', 'pattern': '^.+$'}, 'metadata_tags': {'description': "The cell's tags. Tags must be unique, and must not contain commas.", 'type': 'array', 'uniqueItems': True, 'items': {'type': 'string', 'pattern': '^[^,]+$'}}, 'attachments': {'description': 'Media attachments (e.g. inline images), stored as mimebundle keyed by filename.', 'type': 'object', 'patternProperties': {'.*': {'description': "The attachment's data stored as a mimebundle.", '$ref': '#/definitions/misc/mimebundle'}}}, 'source': {'description': 'Contents of the cell, represented as an array of lines.', '$ref': '#/definitions/misc/multiline_string'}, 'execution_count': {'description': "The code cell's prompt number. Will be null if the cell has not been run.", 'type': ['integer', 'null'], 'minimum': 0}, 'mimebundle': {'description': 'A mime-type keyed dictionary of data', 'type': 'object', 'additionalProperties': {'description': 'mimetype output (e.g. text/plain), represented as either an array of strings or a string.', '$ref': '#/definitions/misc/multiline_string'}, 'patternProperties': {'^application/(.*\\+)?json$': {'description': 'Mimetypes with JSON output, can be any type'}}}, 'output_metadata': {'description': 'Cell output metadata.', 'type': 'object', 'additionalProperties': True}, 'multiline_string': {'oneOf': [{'type': 'string'}, {'type': 'array', 'items': {'type': 'string'}}]}}}}
(4, 2) {(4, 2): Draft4Validator(schema={'$schema': 'http://json-...ft-04/schema#', 'additionalProperties': False, 'definitions': {'cell': {'oneOf': [{'$ref': '#/definitions/raw_cell'}, {'$ref': '#/definitions/markdown_cell'}, {'$ref': '#/definitions/code_cell'}], 'type': 'object'}, 'code_cell': {'additionalProperties': False, 'description': 'Notebook code cell.', 'properties': {'cell_type': {'description': 'String ident...type of cell.', 'enum': ['code']}, 'execution_count': {'description': 'The code cel...not been run.', 'minimum': 0, 'type': ['integer', 'null']}, 'metadata': {'additionalProperties': True, 'description': 'Cell-level metadata.', 'properties': {'collapsed': {...}, 'name': {...}, 'scrolled': {...}, 'tags': {...}}, 'type': 'object'}, 'outputs': {'description': 'Execution, d...ream outputs.', 'items': {'$ref': '#/definitions/output'}, 'type': 'array'}, ...}, 'required': ['cell_type', 'metadata', 'source', 'outputs', 'execution_count'], ...}, 'display_data': {'additionalProperties': False, 'description': 'Data display...ll execution.', 'properties': {'data': {'$ref': '#/definition...sc/mimebundle'}, 'metadata': {'$ref': '#/definition...tput_metadata'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['display_data']}}, 'required': ['output_type', 'data', 'metadata'], ...}, 'error': {'additionalProperties': False, 'description': 'Output of an...ll execution.', 'properties': {'ename': {'description': 'The name of the error.', 'type': 'string'}, 'evalue': {'description': 'The value, o...of the error.', 'type': 'string'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['error']}, 'traceback': {'description': "The error's ...y of strings.", 'items': {'type': 'string'}, 'type': 'array'}}, 'required': ['output_type', 'ename', 'evalue', 'traceback'], ...}, ...}, 'description': 'Jupyter Note... JSON schema.', ...}, format_checker=None)}
(4, 2) {(4, 2): Draft4Validator(schema={'$schema': 'http://json-...ft-04/schema#', 'additionalProperties': True, 'definitions': {'cell': {'oneOf': [{'$ref': '#/definitions/raw_cell'}, {'$ref': '#/definitions/markdown_cell'}, {'$ref': '#/definitions/code_cell'}], 'type': 'object'}, 'code_cell': {'additionalProperties': True, 'description': 'Notebook code cell.', 'properties': {'cell_type': {'description': 'String ident...type of cell.', 'enum': ['code']}, 'execution_count': {'description': 'The code cel...not been run.', 'minimum': 0, 'type': ['integer', 'null']}, 'metadata': {'additionalProperties': True, 'description': 'Cell-level metadata.', 'properties': {'collapsed': {...}, 'name': {...}, 'scrolled': {...}, 'tags': {...}}, 'type': 'object'}, 'outputs': {'description': 'Execution, d...ream outputs.', 'items': {'$ref': '#/definitions/output'}, 'type': 'array'}, ...}, 'required': ['cell_type', 'metadata', 'source', 'outputs', 'execution_count'], ...}, 'display_data': {'additionalProperties': True, 'description': 'Data display...ll execution.', 'properties': {'data': {'$ref': '#/definition...sc/mimebundle'}, 'metadata': {'$ref': '#/definition...tput_metadata'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['display_data']}}, 'required': ['output_type', 'data', 'metadata'], ...}, 'error': {'additionalProperties': True, 'description': 'Output of an...ll execution.', 'properties': {'ename': {'description': 'The name of the error.', 'type': 'string'}, 'evalue': {'description': 'The value, o...of the error.', 'type': 'string'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['error']}, 'traceback': {'description': "The error's ...y of strings.", 'items': {'type': 'string'}, 'type': 'array'}}, 'required': ['output_type', 'ename', 'evalue', 'traceback'], ...}, ...}, 'description': 'Jupyter Note... JSON schema.', ...}, format_checker=None)}
(4, 2) {(4, 2): Draft4Validator(schema={'$schema': 'http://json-...ft-04/schema#', 'additionalProperties': True, 'definitions': {'cell': {'oneOf': [{'$ref': '#/definitions/raw_cell'}, {'$ref': '#/definitions/markdown_cell'}, {'$ref': '#/definitions/code_cell'}], 'type': 'object'}, 'code_cell': {'additionalProperties': True, 'description': 'Notebook code cell.', 'properties': {'cell_type': {'description': 'String ident...type of cell.', 'enum': ['code']}, 'execution_count': {'description': 'The code cel...not been run.', 'minimum': 0, 'type': ['integer', 'null']}, 'metadata': {'additionalProperties': True, 'description': 'Cell-level metadata.', 'properties': {'collapsed': {...}, 'name': {...}, 'scrolled': {...}, 'tags': {...}}, 'type': 'object'}, 'outputs': {'description': 'Execution, d...ream outputs.', 'items': {'$ref': '#/definitions/output'}, 'type': 'array'}, ...}, 'required': ['cell_type', 'metadata', 'source', 'outputs', 'execution_count'], ...}, 'display_data': {'additionalProperties': True, 'description': 'Data display...ll execution.', 'properties': {'data': {'$ref': '#/definition...sc/mimebundle'}, 'metadata': {'$ref': '#/definition...tput_metadata'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['display_data']}}, 'required': ['output_type', 'data', 'metadata'], ...}, 'error': {'additionalProperties': True, 'description': 'Output of an...ll execution.', 'properties': {'ename': {'description': 'The name of the error.', 'type': 'string'}, 'evalue': {'description': 'The value, o...of the error.', 'type': 'string'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['error']}, 'traceback': {'description': "The error's ...y of strings.", 'items': {'type': 'string'}, 'type': 'array'}}, 'required': ['output_type', 'ename', 'evalue', 'traceback'], ...}, ...}, 'description': 'Jupyter Note... JSON schema.', ...}, format_checker=None)}
(4, 2) {(4, 2): Draft4Validator(schema={'$schema': 'http://json-...ft-04/schema#', 'additionalProperties': True, 'definitions': {'cell': {'oneOf': [{'$ref': '#/definitions/raw_cell'}, {'$ref': '#/definitions/markdown_cell'}, {'$ref': '#/definitions/code_cell'}], 'type': 'object'}, 'code_cell': {'additionalProperties': True, 'description': 'Notebook code cell.', 'properties': {'cell_type': {'description': 'String ident...type of cell.', 'enum': ['code']}, 'execution_count': {'description': 'The code cel...not been run.', 'minimum': 0, 'type': ['integer', 'null']}, 'metadata': {'additionalProperties': True, 'description': 'Cell-level metadata.', 'properties': {'collapsed': {...}, 'name': {...}, 'scrolled': {...}, 'tags': {...}}, 'type': 'object'}, 'outputs': {'description': 'Execution, d...ream outputs.', 'items': {'$ref': '#/definitions/output'}, 'type': 'array'}, ...}, 'required': ['cell_type', 'metadata', 'source', 'outputs', 'execution_count'], ...}, 'display_data': {'additionalProperties': True, 'description': 'Data display...ll execution.', 'properties': {'data': {'$ref': '#/definition...sc/mimebundle'}, 'metadata': {'$ref': '#/definition...tput_metadata'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['display_data']}}, 'required': ['output_type', 'data', 'metadata'], ...}, 'error': {'additionalProperties': True, 'description': 'Output of an...ll execution.', 'properties': {'ename': {'description': 'The name of the error.', 'type': 'string'}, 'evalue': {'description': 'The value, o...of the error.', 'type': 'string'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['error']}, 'traceback': {'description': "The error's ...y of strings.", 'items': {'type': 'string'}, 'type': 'array'}}, 'required': ['output_type', 'ename', 'evalue', 'traceback'], ...}, ...}, 'description': 'Jupyter Note... JSON schema.', ...}, format_checker=None)}
(4, 2) {(4, 2): Draft4Validator(schema={'$schema': 'http://json-...ft-04/schema#', 'additionalProperties': True, 'definitions': {'cell': {'oneOf': [{'$ref': '#/definitions/raw_cell'}, {'$ref': '#/definitions/markdown_cell'}, {'$ref': '#/definitions/code_cell'}], 'type': 'object'}, 'code_cell': {'additionalProperties': True, 'description': 'Notebook code cell.', 'properties': {'cell_type': {'description': 'String ident...type of cell.', 'enum': ['code']}, 'execution_count': {'description': 'The code cel...not been run.', 'minimum': 0, 'type': ['integer', 'null']}, 'metadata': {'additionalProperties': True, 'description': 'Cell-level metadata.', 'properties': {'collapsed': {...}, 'name': {...}, 'scrolled': {...}, 'tags': {...}}, 'type': 'object'}, 'outputs': {'description': 'Execution, d...ream outputs.', 'items': {'$ref': '#/definitions/output'}, 'type': 'array'}, ...}, 'required': ['cell_type', 'metadata', 'source', 'outputs', 'execution_count'], ...}, 'display_data': {'additionalProperties': True, 'description': 'Data display...ll execution.', 'properties': {'data': {'$ref': '#/definition...sc/mimebundle'}, 'metadata': {'$ref': '#/definition...tput_metadata'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['display_data']}}, 'required': ['output_type', 'data', 'metadata'], ...}, 'error': {'additionalProperties': True, 'description': 'Output of an...ll execution.', 'properties': {'ename': {'description': 'The name of the error.', 'type': 'string'}, 'evalue': {'description': 'The value, o...of the error.', 'type': 'string'}, 'output_type': {'description': 'Type of cell output.', 'enum': ['error']}, 'traceback': {'description': "The error's ...y of strings.", 'items': {'type': 'string'}, 'type': 'array'}}, 'required': ['output_type', 'ename', 'evalue', 'traceback'], ...}, ...}, 'description': 'Jupyter Note... JSON schema.', ...}, format_checker=None)}

[NbConvertApp] Converting notebook cost_forecasting_I01176_202212281524.ipynb to script
[NbConvertApp] Writing 18899 bytes to cost_forecasting_I01176_202212281524.py

In [16]:

utils.submit_config_params(url='https://codex-api-stage.azurewebsites.net/codex-api/projects/upload-config-params/vRhoxvpFGK9b_LkarsEvWQ', nb_name=currentNotebook, results=results_json, codex_tags=codex_tags, args={})

['codex_widget_factory']
SUCCESS | Submitted config params.